---
import SIACard from "./SIACard.astro";
import { courses } from "../../data/siaCourses";


---

<section
  class="max-w-screen-xl mx-auto p-4"
>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 items-center justify-center">
    {courses.map((course) => (
      <SIACard
        course={course}
      />
    ))}
  </div>
</section>
