---
import RelatedCourses from '../../components/sia/RelatedCourses.astro';
import AddReviewModal from '../../components/sia/reviews/AddReviewModal.astro';
import Reviews from '../../components/sia/reviews/Reviews.astro';
import ReviewsDisplay from '../../components/sia/reviews/ReviewsDisplay.astro';
import { courses } from '../../data/siaCourses';
import Layout from '../../layouts/Layout.astro';
import type { SIACourse } from '../../models/courses';


interface Props {
  courseCode: string;
}

const { courseCode } = Astro.params;

const course: SIACourse = courses.filter(
  (course) => course.id === courseCode
)[0];

console.log(Astro.params);
---

<Layout>
  <main class="pt-8 lg:pt-16 bg-white dark:bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-md">
      <article
        class="mx-auto w-full max-w-screen-xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert"
      >
        <header class="mb-4 lg:mb-6 not-format">
          <h1
            class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white"
          >
            {course.title}
          </h1>
          <ReviewsDisplay />
          
          <address class="flex items-center mb-6 not-italic">
            <div
              class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white"
            >
              <div>
                <p class="pt-2 font-semibold text-gray-900 dark:text-white">
                  {course.id}
                </p>
              </div>
            </div>
          </address>
        </header>
        <p class="lead">
          {course.description}
        </p>
      </article>
    </div>
  </main>
  <Reviews />
  <AddReviewModal />
  <RelatedCourses />
</Layout>
