---
import Card from "./Card.astro";
---

<section
  class="max-w-screen-xl mx-auto p-4"
>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 items-center justify-center">
    <Card
      title="Marketing y gesti贸n de negocios digitales"
      description="Arma tu modelo de negocios anunciando tu propio producto encontrando un lugar en el mercado"
    />
    <Card
      title="Marketing y gesti贸n de negocios digitales"
      description="Arma tu modelo de negocios anunciando tu propio producto encontrando un lugar en el mercado"
    />
    <Card
      title="Marketing y gesti贸n de negocios digitales"
      description="Arma tu modelo de negocios anunciando tu propio producto encontrando un lugar en el mercado"
    />
    <Card
      title="Marketing y gesti贸n de negocios digitales"
      description="Arma tu modelo de negocios anunciando tu propio producto encontrando un lugar en el mercado"
    />
  </div>
</section>
